<!--- NavBar --->
<header class="ec-navbar">
    <div class="container">
        <nav class="ec-navbar-inner">
            <a href="index.html" class="ec-navbar-brand" aria-label="Stackly Home">
                <span class="ec-navbar-brand-icon">
                    <img src="assets/images/brand-logo.webp" alt="Stackly Logo">
                </span>
                <span class="ec-navbar-brand-text">St<span>ackly</span></span>
            </a>

            <div class="ec-navbar-nav-wrapper">
                <ul class="ec-navbar-nav">
                    <li class="ec-navbar-nav-item">
                        <a href="index.html" class="ec-navbar-nav-link" data-nav="home">
                            <!---<span class="ec-navbar-nav-number">01</span>-->
                            <span class="ec-navbar-nav-text">Home</span>
                        </a>
                    </li>
                    <li class="ec-navbar-nav-item">
                        <a href="about.html" class="ec-navbar-nav-link" data-nav="about">
                            <!--<span class="ec-navbar-nav-number">02</span>-->
                            <span class="ec-navbar-nav-text">About</span>
                        </a>
                    </li>
                    <li class="ec-navbar-nav-item">
                        <a href="courses.html" class="ec-navbar-nav-link" data-nav="courses">
                            <!---<span class="ec-navbar-nav-number">03</span>-->
                            <span class="ec-navbar-nav-text">Courses</span>
                        </a>
                    </li>
                    <li class="ec-navbar-nav-item">
                        <a href="blog.html" class="ec-navbar-nav-link" data-nav="blog">
                            <!--<span class="ec-navbar-nav-number">04</span>-->
                            <span class="ec-navbar-nav-text">Blog</span>
                        </a>
                    </li>
                    <li class="ec-navbar-nav-item">
                        <a href="contact.html" class="ec-navbar-nav-link" data-nav="contact">
                            <!--<span class="ec-navbar-nav-number">05</span>-->
                            <span class="ec-navbar-nav-text">Contact</span>
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="ec-navbar-actions">
                <a href="login.html" class="ec-navbar-login">
                    <span class="ec-navbar-login-icon">
                        <i class="bi bi-arrow-up-right"></i>
                    </span>
                    <span>Login</span>
                </a>

                <button type="button" class="ec-navbar-toggle" aria-label="Open navigation menu"
                    aria-expanded="false" aria-controls="ec-navbar-mobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <!--- Mobile Navigation --->
            <div class="ec-navbar-mobile" id="ec-navbar-mobile">
                <div class="ec-navbar-mobile-top">
                    <span class="ec-navbar-mobile-label">Navigation</span>
                    <span class="ec-navbar-mobile-line"></span>
                </div>

                <ul class="ec-navbar-mobile-nav">
                    <li>
                        <a href="index.html" class="ec-navbar-mobile-link" data-nav="home">
                            <span class="ec-navbar-mobile-link-left">
                                <small class="ec-navbar-mobile-number">01</small>
                                <span>Home</span>
                            </span>
                            <i class="bi bi-arrow-up-right ec-navbar-mobile-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="about.html" class="ec-navbar-mobile-link" data-nav="about">
                            <span class="ec-navbar-mobile-link-left">
                                <small class="ec-navbar-mobile-number">02</small>
                                <span>About</span>
                            </span>
                            <i class="bi bi-arrow-up-right ec-navbar-mobile-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="courses.html" class="ec-navbar-mobile-link" data-nav="courses">
                            <span class="ec-navbar-mobile-link-left">
                                <small class="ec-navbar-mobile-number">03</small>
                                <span>Courses</span>
                            </span>
                            <i class="bi bi-arrow-up-right ec-navbar-mobile-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="blog.html" class="ec-navbar-mobile-link" data-nav="blog">
                            <span class="ec-navbar-mobile-link-left">
                                <small class="ec-navbar-mobile-number">04</small>
                                <span>Blog</span>
                            </span>
                            <i class="bi bi-arrow-up-right ec-navbar-mobile-arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" class="ec-navbar-mobile-link" data-nav="contact">
                            <span class="ec-navbar-mobile-link-left">
                                <small class="ec-navbar-mobile-number">05</small>
                                <span>Contact</span>
                            </span>
                            <i class="bi bi-arrow-up-right ec-navbar-mobile-arrow"></i>
                        </a>
                    </li>
                </ul>

                <div class="ec-navbar-mobile-bottom">
                    <span>Learn. Create. Grow.</span>
                    <a href="login.html">Login <i class="bi bi-arrow-up-right"></i></a>
                </div>
            </div>
            <!--- End Mobile Navigation --->
        </nav>
    </div>
</header>
<!--- End NavBar --->